body{
    background-image: url(../img/fundo/msc.png);
}
.titulo{
    font-size: 1.5em;
    padding-left: 5%;
    text-align: center;
}
.subtitulo{
    font-size: 1.2em;
    text-align: center;
}
.cor_fundo{
    background-color: gold;
}

.color{
    background-color: snow;
}
.pcarrosel{
    color: black;
}
.conteudo-paragrafo{
    margin-left: 5%;
}