body{
    background-image: url(../img/background/fundo.png);
    font-family: 'Pangolin', cursive;
}
.h1{
    font-size: 2.5em;
    padding-left: 5%;
    text-align: center;
}
.h2{
    font-size: 2em;
    text-align: center;
}
.conteudo-paragrafo{
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.cor_fundo{
    background-color: gold;
}

.color{
    background-color: snow;
}
.pcarrosel{
    color: black;
}
figure{
    text-align: center;
    line-height: 2;
}
.img{
    border: 5px double;
    margin-top: 3%;
}

.imgconteudo img{
    transition: 0.5s;
}
.imgconteudo img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
@media screen and (min-width: 992px) {
    .testes{
        display: inline;
        position: absolute;
        right: 1.5%;
    }
    
}

@media screen and (max-width: 800px){
    img{
        width: 40%;
        height: 40%;
    }    
}